* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff");
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.woff2");
}

html {
  font-size: 100%;
}
body {
  background-color: grey;
}

.wrapper {
  width: 1600px;
  min-height: 4927px;
  margin: 0 auto;
  background-color: #fff;
}

.logo-text {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: lowercase;
  color: #2e2e2e;
}

.huge-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 108px;
  color: #232323;
}

.text {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 32px;
  color: #3f3232;
}

.orange-text {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #ff9401;
}

.h2 {
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  color: #2e2e2e;
}

.button {
  padding: 16px 35px 16px 33px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  background: #ff9401;
  border: 0;
  border-radius: 31px;
}
