.header {
  padding: 50px 214px 0 215px;
  display: flex;
  justify-content: space-between;

  &__logo-container {
    display: flex;
  }

  &__title {
    position: relative;
    top: -4px;
    left: 6px;
  }

  &__links-container {
    display: flex;
    gap: 62px;
    margin-top: 5px;
    align-items: center;
  }
}
