.restaurant {
  position: relative;
  margin-top: 77px;
  padding: 50px 214px 129px 215px;

  &__title {
    margin: 19px 0 0 -3px;
  }

  &__span1 {
    position: relative;
    margin-left: 5px;
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 19px;
      left: -7px;
      width: 62px;
      height: 61px;
      background-image: url("../images/soup.png");
    }

    &::after {
      position: absolute;
      content: "";
      top: -1px;
      left: -29px;
      width: 182px;
      height: 142px;
      background-image: url("../images/salad.png");
    }
  }

  &__span2 {
    position: relative;
    margin-left: 8px;
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 23px;
      left: 1px;
      width: 52px;
      height: 52px;
      background-image: url("../images/smile.svg");
    }

    &::after {
      position: absolute;
      content: "";
      top: 23px;
      right: 4px;
      width: 52px;
      height: 52px;
      background-image: url("../images/smile.svg");
    }
  }

  &__text {
    width: 497px;
    margin-top: 7px;
  }

  &__button {
    display: inline-block;
    margin-top: 50px;
    box-shadow: 0px 20px 40px rgba(255, 148, 1, 0.2);
  }

  &__socials {
    display: flex;
    gap: 30px;
    width: 165px;
    margin-top: 62px;
  }

  &__social {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(255, 148, 1, 0.2);
  }

  &__social-link {
    margin: 0 auto;
  }

  &__pictures {
    position: absolute;
    top: 0;
  }

  &__img {
    position: absolute;

    &:nth-child(1) {
      top: -12px;
      left: 347px;
    }

    &:nth-child(2) {
      top: 13px;
      left: 631px;
    }

    &:nth-child(3) {
      top: 352px;
      left: 562px;
    }

    &:nth-child(4) {
      top: 455px;
      left: 785px;
    }

    &:nth-child(5) {
      top: 342px;
      left: 1003px;
    }
  }

  &__shadow {
    position: absolute;
    top: 43px;
    left: 678px;
    width: 438px;
    height: 432px;
    border-radius: 50%;
    box-shadow: 0px 20px 40px rgba(255, 169, 0, 0.15);
  }
}
