.restaurant {
  margin-top: 127px;

  &__title {
    margin: 12px 0 0 -3px;
  }

  &__span1 {
    position: relative;
    margin-left: 5px;
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 37px;
      left: -7px;
      width: 62px;
      height: 61px;
      background-image: url("../images/soup.png");
    }

    &::after {
      position: absolute;
      content: "";
      top: 17px;
      left: -29px;
      width: 182px;
      height: 142px;
      background-image: url("../images/salad.png");
    }
  }

  &__span2 {
    position: relative;
    margin-left: 8px;
    color: transparent;

    &::before {
      position: absolute;
      content: "";
      top: 41px;
      left: 1px;
      width: 52px;
      height: 52px;
      background-image: url("../images/smile.svg");
    }

    &::after {
      position: absolute;
      content: "";
      top: 41px;
      right: 4px;
      width: 52px;
      height: 52px;
      background-image: url("../images/smile.svg");
    }
  }

  &__text {
    width: 497px;
    margin-top: 14px;
  }

  &__button {
    display: inline-block;
    margin-top: 50px;
    box-shadow: 0px 20px 40px rgba(255, 148, 1, 0.2);
  }

  &__socials {
    display: flex;
    gap: 30px;
    width: 165px;
    margin-top: 62px;
  }

  &__social {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(255, 148, 1, 0.2);
  }

  &__social-link {
    margin: 0 auto;
  }
}
